[Rais 2019](http://www.rais.gov.br/sitio/index.jsf) stands for Relação Anual de Informações Sociais (Annual Social Information List). The microdata below is from rais2019, and one of the data's column is [CBO](https://concla.ibge.gov.br/classificacoes/por-tema/ocupacao/classificacao-brasileira-de-ocupacoes), which stands for Classificação Brasileira de Ocupações (Classification of Occupations). The Brazilian Classification of Occupations describes and orders occupations within a hierarchical structure that allows for the aggregation of information regarding the workforce. The data comes with CBO's Occupation that is more specific, I wanted to turn it into a CBO Broad Group and Main SubGroup with its respective names. That is what this code does. The data dictionary comes from [here](http://www.mtecbo.gov.br/cbosite/pages/downloads.jsf#)

In [1]:
import pandas as pd

In [2]:
rais2019cbo2002 = pd.read_excel('bancoesusrais2019selecionadocnae.xlsx')

In [3]:
#rais2019cbo2002.head()
#the data has many other columns, but they were omitted because of data restrictions

In [4]:
rais2019cbo2002[['CBO Ocupação 2002']]

       CBO Ocupação 2002
0                 322205
1                 351425
2                 351425
3                 375120
4                 375120
...                  ...
225968            782510
225969            413225
225970            142305
225971            517420
225972            517215

[225973 rows x 1 columns]

In [5]:
rais2019cbo2002.loc[:,['CBO Ocupação 2002']]

       CBO Ocupação 2002
0                 322205
1                 351425
2                 351425
3                 375120
4                 375120
...                  ...
225968            782510
225969            413225
225970            142305
225971            517420
225972            517215

[225973 rows x 1 columns]

In [6]:
rais2019cbo2002 = rais2019cbo2002.loc[:,['CBO Ocupação 2002']]

In [7]:
rais2019cbo2002.head(3)

  CBO Ocupação 2002
0            322205
1            351425
2            351425

In [8]:
rais2019cbo2002.rename({'CBO Ocupação 2002':'CBO Occupation 2002'}, axis = 1, inplace = True)

In [9]:
rais2019cbo2002['CBO Occupation 2002'].value_counts()

411010    18222
411005     9649
521110     8528
232115     7739
515110     6504
          ...
262215        1
225110        1
373140        1
766410        1
225118        1
Name: CBO Occupation 2002, Length: 2584, dtype: int64

In [10]:
rais2019cbo2002['CBO Occupation 2002'].unique()

array([322205, 351425, 375120, ..., 214935, 374205, '910115'],
      dtype=object)

In [11]:
list(rais2019cbo2002['CBO Occupation 2002'].unique())

[322205,
 351425,
 375120,
 517425,
 710120,
 411010,
 111345,
 214305,
 225150,
 225125,
 322130,
 333115,
 422310,
 232115,
 521115,
 252305,
 514120,
 251510,
 782305,
 322215,
 410105,
 223505,
 621005,
 225142,
 111415,
 521105,
 521110,
 421125,
 515110,
 322230,
 261720,
 411005,
 422105,
 '514320',
 514320,
 515215,
 514225,
 515105,
 422110,
 252105,
 322415,
 251605,
 422315,
 234505,
 225103,
 234435,
 784205,
 412110,
 225124,
 223405,
 131205,
 252405,
 214405,
 324205,
 351430,
 223208,
 517315,
 '342410',
 225270,
 '223505',
 '223405',
 111410,
 123105,
 111220,
 '131205',
 21110,
 517215,
 142320,
 20115,
 241005,
 '422105',
 322245,
 10315,
 354815,
 225139,
 225325,
 225106,
 223605,
 142105,
 513115,
 351505,
 515120,
 515205,
 214205,
 516220,
 225250,
 '225125',
 351810,
 142115,
 516310,
 111505,
 324115,
 517410,
 20110,
 517330,
 342405,
 '514225',
 519925,
 322605,
 141205,
 131210,
 142305,
 254305,
 20105,
 233110,
 223520,
 517205,
 783210,
 225140,
 261110,
 223305,
 21210,
 20205,
 242305,
 414110,
 352210,
 223565,
 21105,
 517415,
 782510,
 '420130',
 212405,
 212420,
 413225,
 414105,
 30110,
 515325,
 30115,
 30105,
 '517425',
 '411005',
 521130,
 123205,
 516345,
 30305,
 841815,
 '251510',
 513430,
 351105,
 142705,
 '354135',
 354120,
 514325,
 721210,
 '784205',
 774105,
 239410,
 242235,
 320110,
 301110,
 763015,
 782505,
 519905,
 351420,
 223705,
 517420,
 841310,
 915305,
 331105,
 239430,
 131115,
 221105,
 142710,
 516210,
 31110,
 31210,
 '354120',
 422305,
 420125,
 519110,
 782320,
 328105,
 '322230',
 312105,
 214130,
 '234810',
 '782305',
 223810,
 325110,
 511215,
 223905,
 225112,
 '521110',
 225151,
 513425,
 520110,
 784120,
 351415,
 141415,
 223710,
 415105,
 391125,
 241030,
 513205,
 '123105',
 848510,
 '517330',
 '223208',
 391130,
 223288,
 '224120',
 515305,
 413110,
 252605,
 783215,
 517220,
 225120,
 10205,
 354130,
 142335,
 992225,
 '513425',
 234310,
 514215,
 421105,
 782410,
 413205,
 413210,
 '411010',
 810305,
 223293,
 234810,
 412205,
 766420,
 422210,
 '516705',
 516705,
 '517410',
 254410,
 '622110',
 622110,
 '413110',
 254205,
 252205,
 234510,
 225121,
 '225121',
 411020,
 231105,
 223232,
 '514120',
 233215,
 '514310',
 142325,
 '521130',
 411030,
 '414105',
 414140,
 223560,
 '515210',
 142205,
 223545,
 414125,
 241040,
 514110,
 354150,
 413115,
 231210,
 331205,
 '010305',
 '251605',
 782310,
 371410,
 515115,
 '410105',
 232155,
 31105,
 '252105',
 251205,
 21205,
 351110,
 313220,
 811505,
 313105,
 515315,
 131320,
 252210,
 10305,
 342305,
 620105,
 225130,
 333110,
 376320,
 234520,
 517210,
 '225250',
 351605,
 951105,
 '354125',
 225135,
 225225,
 391205,
 20310,
 20305,
 782220,
 313505,
 251530,
 '422310',
 717020,
 '717020',
 322405,
 716610,
 312210,
 351305,
 111325,
 '111345',
 225185,
 325115,
 732105,
 911325,
 510310,
 '782615',
 411035,
 239205,
 '514325',
 783225,
 '519935',
 715130,
 111405,
 '322205',
 '252305',
 '422315',
 723310,
 214915,
 '142605',
 '111415',
 '517220',
 251520,
 224120,
 813125,
 122620,
 '322235',
 322235,
 '782320',
 351815,
 763210,
 725705,
 732120,
 724205,
 911205,
 623310,
 420135,
 214310,
 261715,
 10105,
 '142205',
 239405,
 '225124',
 513415,
 301105,
 '322215',
 225210,
 231205,
 784125,
 513505,
 223510,
 410205,
 770110,
 '231210',
 914305,
 '521115',
 254420,
 122705,
 '911205',
 234125,
 354205,
 141710,
 '141710',
 204105,
 521135,
 914415,
 223515,
 715210,
 123110,
 '413210',
 725015,
 '715135',
 314120,
 514310,
 '242405',
 223310,
 342610,
 513220,
 784105,
 122105,
 313415,
 763305,
 519930,
 234420,
 515210,
 914410,
 354135,
 771105,
 '521135',
 221205,
 848505,
 234515,
 841810,
 861105,
 354125,
 253215,
 215120,
 312320,
 '123805',
 414215,
 521125,
 231335,
 783220,
 '519110',
 914405,
 411045,
 410220,
 141410,
 142330,
 '252210',
 241010,
 818110,
 517310,
 514230,
 811310,
 '412110',
 410235,
 '253215',
 '223510',
 991120,
 131120,
 231320,
 '342405',
 313315,
 214505,
 992210,
 414115,
 423105,
 225109,
 '377230',
 30205,
 514205,
 411025,
 318510,
 724110,
 341230,
 721115,
 '731325',
 239425,
 324105,
 420130,
 324120,
 521140,
 '514110',
 514105,
 251305,
 516505,
 519115,
 141305,
 710205,
 724510,
 '784105',
 516110,
 141615,
 992205,
 252545,
 142410,
 517405,
 '516345',
 '262405',
 223272,
 232120,
 '142105',
 '783215',
 715125,
 131305,
 '239405',
 '510115',
 '510135',
 239435,
 513315,
 391115,
 '515305',
 314605,
 513405,
 715615,
 '214205',
 391215,
 766125,
 '231205',
 '782510',
 342310,
 422215,
 715610,
 232110,
 762205,
 121010,
 515135,
 223435,
 332205,
 331110,
 262505,
 313215,
 '517310',
 523110,
 715505,
 '142405',
 141515,
 251225,
 '373220',
 234730,
 212415,
 848315,
 524105,
 354145,
 121005,
 '710205',
 '513205',
 410215,
 372205,
 234415,
 251540,
 123115,
 223445,
 '517420',
 '142320',
 724505,
 '519305',
 519305,
 212310,
 '241220',
 262710,
 111225,
 114405,
 317210,
 241225,
 352310,
 254105,
 253210,
 '111220',
 373205,
 782135,
 422205,
 411050,
 '413105',
 860115,
 331305,
 254405,
 '253225',
 142210,
 763310,
 622010,
 142340,
 333105,
 '373145',
 313205,
 '414215',
 '783220',
 322430,
 251505,
 377105,
 421310,
 '716405',
 311105,
 950110,
 '421125',
 '523110',
 '251530',
 311710,
 415205,
 314110,
 515225,
 '252405',
 811805,
 317205,
 203505,
 '515105',
 519315,
 241220,
 725505,
 '324115',
 '318610',
 '521125',
 233210,
 '314115',
 724440,
 '351605',
 '313220',
 '213155',
 141605,
 '782220',
 414210,
 513435,
 232105,
 848305,
 911305,
 131310,
 351405,
 840105,
 520105,
 '251215',
 '414110',
 232130,
 '223605',
 313120,
 '351305',
 515125,
 123305,
 712220,
 322420,
 '351505',
 '354705',
 215220,
 811770,
 321105,
 622020,
 731125,
 223570,
 782405,
 234620,
 '351405',
 '212405',
 '351105',
 225133,
 '411020',
 254310,
 311505,
 763325,
 '422110',
 342125,
 '763125',
 811005,
 314410,
 254110,
 342105,
 328110,
 '234624',
 253115,
 123805,
 '352210',
 '780105',
 313115,
 '252545',
 222110,
 '331105',
 811115,
 '141205',
 262410,
 848520,
 862305,
 516305,
 311110,
 391210,
 322250,
 515310,
 '142305',
 '732125',
 253120,
 715115,
 223268,
 '848510',
 '324205',
 '232115',
 231340,
 224105,
 '239430',
 316305,
 231305,
 '354145',
 '513430',
 225170,
 141510,
 '515120',
 222120,
 321320,
 '515205',
 '414140',
 '142210',
 214510,
 414205,
 223236,
 919110,
 715315,
 214270,
 '312105',
 721325,
 '333105',
 821205,
 '234505',
 203015,
 '221205',
 765235,
 374110,
 '322420',
 725005,
 763125,
 519940,
 782515,
 342315,
 732130,
 519910,
 377110,
 232145,
 '511105',
 317110,
 353215,
 862205,
 953115,
 841408,
 213205,
 '515110',
 223535,
 313410,
 515140,
 352205,
 '715115',
 261215,
 234425,
 224125,
 '213205',
 828110,
 848310,
 848115,
 910105,
 223625,
 371105,
 513305,
 300305,
 862120,
 313130,
 '620105',
 353230,
 '782410',
 424105,
 715220,
 841115,
 712120,
 318805,
 211205,
 261135,
 234405,
 '521140',
 131110,
 '391205',
 724315,
 710215,
 413105,
 376310,
 811010,
 724410,
 '422205',
 '313215',
 395105,
 '516305',
 225235,
 766205,
 351315,
 234705,
 950105,
 763105,
 '254410',
 '223305',
 421305,
 '241005',
 766215,
 233205,
 813115,
 524305,
 768205,
 723330,
 '391105',
 420105,
 818105,
 721215,
 862150,
 760125,
 422120,
 521120,
 '760125',
 761410,
 '421310',
 641015,
 141505,
 375115,
 823240,
 623105,
 725305,
 782115,
 '517405',
 516130,
 '516210',
 731175,
 261140,
 325205,
 782615,
 '513505',
 811425,
 142520,
 223264,
 261120,
 351740,
 223415,
 765225,
 415215,
 '422210',
 231315,
 '231105',
 234105,
 '911305',
 '782310',
 '223710',
 '517215',
 241215,
 231110,
 142315,
 225145,
 421205,
 '111410',
 351115,
 223420,
 351510,
 '261805',
 '848305',
 782315,
 10215,
 225265,
 '225140',
 '261715',
 '261730',
 784110,
 '223232',
 516610,
 410240,
 354210,
 511210,
 142530,
 318005,
 10110,
 373105,
 511105,
 233225,
 239415,
 763320,
 '763215',
 '514215',
 765205,
 '623110',
 623110,
 '214215',
 711230,
 332105,
 '782515',
 261305,
 322105,
 721105,
 322225,
 351705,
 313110,
 724220,
 516205,
 '142705',
 '516610',
 720210,
 '142410',
 517110,
 919205,
 225275,
 322305,
 '848520',
 234305,
 517320,
 351310,
 '782405',
 773355,
 514115,
 422115,
 720215,
 '212410',
 31205,
 861110,
 261125,
 241330,
 731310,
 '862305',
 241015,
 233115,
 731325,
 '715505',
 '141415',
 '521105',
 511205,
 766405,
 223530,
 725420,
 '514230',
 813130,
 234460,
 '021110',
 141610,
 715405,
 832125,
 234440,
 715710,
 239225,
 731320,
 '914405',
 510110,
 422220,
 '410225',
 225127,
 214910,
 234616,
 '234616',
 '422120',
 '142315',
 234760,
 232165,
 '511215',
 780105,
 '420135',
 '131210',
 711120,
 324220,
 254505,
 141420,
 225285,
 '763105',
 '763210',
 524215,
 214215,
 515130,
 914105,
 313310,
 262220,
 782145,
 317105,
 715545,
 271105,
 613305,
 314115,
 862130,
 261605,
 '312320',
 '783225',
 225335,
 763215,
 414120,
 141405,
 '724315',
 725205,
 821405,
 322120,
 '377110',
 951315,
 715305,
 241305,
 '233110',
 '914420',
 848515,
 '410205',
 215305,
 823315,
 '131315',
 717010,
 760310,
 622510,
 '782505',
 '848505',
 632120,
 203215,
 '239410',
 '720215',
 313125,
 225310,
 914420,
 '724205',
 241020,
 '841468',
 841468,
 '828105',
 353205,
 914425,
 354705,
 '622505',
 '232105',
 782705,
 '224135',
 913105,
 516405,
 720135,
 841315,
 715135,
 '342125',
 '233225',
 215115,
 513225,
 '862150',
 821440,
 782130,
 '768625',
 325210,
 848210,
 724115,
 '520110',
 '342305',
 ...]

In [13]:
rais2019cbo2002['CBO Occupation 2002'].dtype

dtype('O')

In [14]:
list(rais2019cbo2002['CBO Occupation 2002'].astype(str))

['322205',
 '351425',
 '351425',
 '375120',
 '375120',
 '375120',
 '375120',
 '375120',
 '517425',
 '517425',
 '517425',
 '710120',
 '710120',
 '411010',
 '111345',
 '214305',
 '225150',
 '225125',
 '322130',
 '333115',
 '333115',
 '422310',
 '422310',
 '422310',
 '232115',
 '232115',
 '521115',
 '252305',
 '252305',
 '252305',
 '252305',
 '514120',
 '514120',
 '514120',
 '251510',
 '251510',
 '782305',
 '322215',
 '410105',
 '223505',
 '410105',
 '223505',
 '621005',
 '225142',
 '225142',
 '225142',
 '111415',
 '521105',
 '521110',
 '421125',
 '515110',
 '515110',
 '322230',
 '515110',
 '261720',
 '261720',
 '261720',
 '411005',
 '411005',
 '411005',
 '411010',
 '782305',
 '322230',
 '515110',
 '322205',
 '515110',
 '422105',
 '515110',
 '322230',
 '515110',
 '322230',
 '322205',
 '322205',
 '411010',
 '514320',
 '514320',
 '514320',
 '515215',
 '223505',
 '514225',
 '322130',
 '515105',
 '322230',
 '322205',
 '322230',
 '422110',
 '252105',
 '515110',
 '322415',
 '322415',
 '515110',
 '515110',
 '515110',
 '515110',
 '322205',
 '322205',
 '251605',
 '252105',
 '514120',
 '422105',
 '225125',
 '515110',
 '515110',
 '351425',
 '411010',
 '411010',
 '322230',
 '422105',
 '515110',
 '322205',
 '322205',
 '411010',
 '422315',
 '411010',
 '422315',
 '411010',
 '322230',
 '225125',
 '225125',
 '225150',
 '225125',
 '234505',
 '225103',
 '234435',
 '784205',
 '412110',
 '412110',
 '412110',
 '412110',
 '412110',
 '412110',
 '412110',
 '782305',
 '782305',
 '782305',
 '411010',
 '411010',
 '782305',
 '782305',
 '422105',
 '225125',
 '225125',
 '322205',
 '322205',
 '322230',
 '223505',
 '225125',
 '225125',
 '225124',
 '223505',
 '322205',
 '515110',
 '223505',
 '322205',
 '515110',
 '223505',
 '322205',
 '515110',
 '322205',
 '515110',
 '322205',
 '411010',
 '223505',
 '322230',
 '223505',
 '252105',
 '223505',
 '322205',
 '515110',
 '515110',
 '515110',
 '515110',
 '223505',
 '223505',
 '223405',
 '223405',
 '223405',
 '515110',
 '515110',
 '515110',
 '322205',
 '322205',
 '515110',
 '322230',
 '515110',
 '322230',
 '515110',
 '422315',
 '131205',
 '411010',
 '252405',
 '214405',
 '515110',
 '515110',
 '411005',
 '422105',
 '225124',
 '225125',
 '225125',
 '515110',
 '322230',
 '515110',
 '322230',
 '411010',
 '515110',
 '324205',
 '322205',
 '322205',
 '322205',
 '322205',
 '411010',
 '351430',
 '223208',
 '252105',
 '517315',
 '342410',
 '410105',
 '322205',
 '515110',
 '322205',
 '515110',
 '223505',
 '223505',
 '223505',
 '223505',
 '225270',
 '225125',
 '322205',
 '515110',
 '223505',
 '223505',
 '223505',
 '223505',
 '223505',
 '252105',
 '515110',
 '223405',
 '252105',
 '515110',
 '223405',
 '111410',
 '123105',
 '123105',
 '411010',
 '111220',
 '411010',
 '411010',
 '252105',
 '252105',
 '411005',
 '411010',
 '515110',
 '322205',
 '322205',
 '322205',
 '322205',
 '322205',
 '225125',
 '225125',
 '411010',
 '411010',
 '131205',
 '515110',
 '322205',
 '515110',
 '322205',
 '422105',
 '515110',
 '21110',
 '517215',
 '142320',
 '411010',
 '225125',
 '225124',
 '225125',
 '411010',
 '515105',
 '515105',
 '322205',
 '20115',
 '20115',
 '322205',
 '241005',
 '422105',
 '411005',
 '225125',
 '225125',
 '521110',
 '515110',
 '225124',
 '225125',
 '225125',
 '411010',
 '515110',
 '411010',
 '515110',
 '411010',
 '515110',
 '322230',
 '515110',
 '322245',
 '515110',
 '10315',
 '10315',
 '411010',
 '515110',
 '351430',
 '354815',
 '111410',
 '225139',
 '351430',
 '354815',
 '111410',
 '225139',
 '351430',
 '354815',
 '111410',
 '225139',
 '351430',
 '354815',
 '111410',
 '225139',
 '351430',
 '354815',
 '111410',
 '225139',
 '351430',
 '354815',
 '111410',
 '225139',
 '351430',
 '354815',
 '111410',
 '225139',
 '322205',
 '322205',
 '322205',
 '322205',
 '515105',
 '322205',
 '515105',
 '322205',
 '515105',
 '322205',
 '223505',
 '223505',
 '223505',
 '223505',
 '517315',
 '517315',
 '515110',
 '515110',
 '515110',
 '515110',
 '322205',
 '515105',
 '223505',
 '252105',
 '515110',
 '517315',
 '515110',
 '225325',
 '225106',
 '225125',
 '225125',
 '225325',
 '225106',
 '225125',
 '225125',
 '517315',
 '322205',
 '515110',
 '515105',
 '322205',
 '322230',
 '322230',
 '322230',
 '322205',
 '322205',
 '517315',
 '517315',
 '515105',
 '322205',
 '322205',
 '515110',
 '223505',
 '322205',
 '411010',
 '411010',
 '223605',
 '223605',
 '223605',
 '223605',
 '223505',
 '142105',
 '513115',
 '515110',
 '351505',
 '225270',
 '225270',
 '225270',
 '514320',
 '322205',
 '515110',
 '411005',
 '411005',
 '411005',
 '411005',
 '411005',
 '411005',
 '411005',
 '411005',
 '411005',
 '20115',
 '422105',
 '515110',
 '322205',
 '515215',
 '515110',
 '252105',
 '223505',
 '411010',
 '515110',
 '223405',
 '515110',
 '515120',
 '322205',
 '322205',
 '782305',
 '515110',
 '515110',
 '515205',
 '515205',
 '411010',
 '322205',
 '411010',
 '322205',
 '142105',
 '514320',
 '515110',
 '111410',
 '214205',
 '322415',
 '515110',
 '223505',
 '322205',
 '516220',
 '223505',
 '515110',
 '225250',
 '225125',
 '225125',
 '411010',
 '515205',
 '515205',
 '515205',
 '225125',
 '225125',
 '322230',
 '322230',
 '322205',
 '351810',
 '223505',
 '411010',
 '322230',
 '142115',
 '516310',
 '516310',
 '324205',
 '324205',
 '514320',
 '225125',
 '225124',
 '225125',
 '515105',
 '111410',
 '111505',
 '517315',
 '517315',
 '517315',
 '517315',
 '517315',
 '514225',
 '324115',
 '324115',
 '517410',
 '20110',
 '422105',
 '422105',
 '517330',
 '517215',
 '342405',
 '515105',
 '252105',
 '223505',
 '411010',
 '322205',
 '514225',
 '411010',
 '411005',
 '515110',
 '519925',
 '514320',
 '322230',
 '252105',
 '223505',
 '252105',
 '252105',
 '223405',
 '515110',
 '223405',
 '225125',
 '225125',
 '322245',
 '322205',
 '515110',
 '322245',
 '322205',
 '515110',
 '252105',
 '223505',
 '252105',
 '223505',
 '782305',
 '782305',
 '20115',
 '322605',
 '322205',
 '322605',
 '322205',
 '141205',
 '410105',
 '223505',
 '131210',
 '20115',
 '142305',
 '254305',
 '223505',
 '223505',
 '232115',
 '422105',
 '515110',
 '515110',
 '515110',
 '322230',
 '422105',
 '20105',
 '515105',
 '515105',
 '515105',
 '322230',
 '322205',
 '322205',
 '322205',
 '322205',
 '322205',
 '322205',
 '515105',
 '515105',
 '411010',
 '422105',
 '252105',
 '251605',
 '252105',
 '251605',
 '252105',
 '251605',
 '322205',
 '411010',
 '223505',
 '223505',
 '422110',
 '233110',
 '20110',
 '411010',
 '225125',
 '225125',
 '322205',
 '322205',
 '322230',
 '515110',
 '223505',
 '223520',
 '223505',
 '517205',
 '517205',
 '517315',
 '517315',
 '517315',
 '517315',
 '517315',
 '411010',
 '322230',
 '322230',
 '515110',
 '515110',
 '515110',
 '783210',
 '411010',
 '131205',
 '411010',
 '131205',
 '411010',
 '131205',
 '411010',
 '131205',
 '225125',
 '225125',
 '223505',
 '322230',
 '515110',
 '422105',
 '225140',
 '261110',
 '261110',
 '225140',
 '21110',
 '515110',
 '223505',
 '515110',
 '223505',
 '131205',
 '322205',
 '411010',
 '411005',
 '223305',
 '514225',
 '515105',
 '411010',
 '225125',
 '225125',
 '225125',
 '225125',
 '21210',
 '411010',
 '21110',
 '21110',
 '21110',
 '515110',
 '411010',
 '411010',
 '422110',
 '422110',
 '351810',
 '322205',
 '411010',
 '411010',
 '411010',
 '411010',
 '515110',
 '20205',
 '225125',
 '515110',
 '322230',
 '411010',
 '411010',
 '322230',
 '225125',
 '225125',
 '225125',
 '515110',
 '515110',
 '515110',
 '515110',
 '251605',
 '515110',
 '20105',
 '515110',
 '515105',
 '111410',
 '242305',
 '111410',
 '242305',
 '225125',
 '322205',
 '225125',
 '514320',
 '252105',
 '515110',
 '322205',
 '20105',
 '20105',
 '20105',
 '20105',
 '20105',
 '225140',
 '225125',
 '225125',
 '225124',
 '223405',
 '322205',
 '322205',
 '411010',
 '322230',
 '411010',
 '322230',
 '515110',
 '414110',
 '515110',
 '322230',
 '322205',
 '515215',
 '324115',
 '322205',
 '352210',
 '322230',
 '322230',
 '223505',
 '515105',
 '234505',
 '111410',
 '111415',
 '234505',
 '234505',
 '111410',
 '111415',
 '234505',
 '223505',
 '223565',
 '411010',
 '322205',
 '411010',
 '20110',
 '322205',
 '322205',
 '322205',
 '352210',
 '21105',
 '352210',
 '352210',
 '517415',
 '411010',
 '517215',
 '517215',
 '517215',
 '782510',
 '517205',
 '420130',
 '212405',
 '212420',
 '517315',
 '111410',
 '251605',
 '225125',
 '225125',
 '413225',
 '322205',
 '322205',
 '322205',
 '515110',
 '414105',
 '515110',
 '223405',
 '223405',
 '515105',
 '251605',
 '251605',
 '351810',
 '351810',
 '21110',
 '21110',
 '324115',
 '324115',
 '324115',
 '322205',
 '322205',
 '411010',
 '515110',
 '411010',
 '515110',
 '351810',
 '30110',
 '322205',
 '322205',
 '223505',
 '515110',
 '515325',
 '515110',
 '30115',
 '30115',
 '30105',
 '111415',
 '517425',
 '411005',
 '232115',
 '411010',
 '515105',
 '517215',
 '111415',
 '111415',
 '411010',
 '515110',
 '411010',
 '515110',
 '411010',
 '515110',
 '411010',
 '515110',
 '514225',
 '352210',
 '521130',
 '123205',
 '515110',
 '123205',
 '515110',
 '322230',
 '322230',
 '516345',
 '322205',
 '30305',
 '411010',
 '411010',
 '322205',
 '322205',
 '322205',
 '322205',
 '516345',
 '516345',
 '516345',
 '515110',
 '223405',
 '322205',
 '411005',
 '322205',
 '322230',
 '515110',
 '20110',
 '411010',
 '411010',
 '21210',
 '322205',
 '841815',
 '841815',
 '515110',
 '515110',
 '251510',
 '515110',
 '322230',
 '21105',
 '411010',
 '261110',
 '513430',
 '411010',
 '322205',
 '515110',
 '515110',
 '515110',
 '515110',
 '225125',
 '225125',
 '225125',
 '225125',
 '515110',
 '322230',
 '515110',
 '322230',
 '251605',
 '351105',
 '322230',
 '322230',
 '142705',
 '142705',
 '354135',
 '354120',
 '411005',
 '411005',
 '20115',
 '252105',
 '515110',
 '322205',
 '223505',
 '225125',
 '225125',
 '225125',
 '223605',
 '515110',
 '223605',
 '515110',
 '223605',
 '515110',
 '223605',
 '515110',
 '142105',
 '322205',
 '111415',
 '111415',
 '410105',
 '515105',
 '514325',
 '515110',
 '422105',
 '517330',
 '721210',
 '411005',
 '784205',
 '774105',
 '352210',
 '322215',
 '322215',
 '239410',
 '252105',
 '242235',
 '422105',
 '515110',
 '422105',
 '515110',
 '515110',
 '252105',
 '225125',
 '225125',
 '252105',
 '225125',
 '225125',
 '515110',
 '515110',
 '411010',
 '322230',
 '411010',
 '225125',
 '225125',
 '225125',
 '225125',
 '515110',
 '515105',
 '411010',
 '322230',
 '111415',
 '322230',
 '411010',
 '515110',
 '515110',
 '515110',
 '111415',
 '411010',
 '411010',
 '225125',
 '515110',
 '411010',
 '515110',
 '411010',
 '515110',
 '411010',
 '324205',
 '324205',
 '320110',
 '301110',
 '324205',
 '324205',
 '320110',
 '301110',
 '517330',
 '517410',
 '517330',
 '517410',
 '225125',
 '763015',
 '763015',
 '782505',
 '322205',
 '252105',
 '223505',
 '519905',
 '782305',
 '782305',
 '411010',
 '411010',
 '322205',
 '322205',
 '422310',
 '322205',
 '322205',
 '322205',
 '322205',
 '322205',
 '322205',
 '223505',
 '223505',
 '351420',
 '411010',
 '411010',
 '252105',
 '422105',
 '223505',
 '411010',
 '515110',
 '225125',
 '225125',
 '20110',
 '515215',
 '322205',
 '411010',
 '225125',
 '225125',
 '225125',
 '111415',
 '111415',
 '111415',
 '223505',
 '515110',
 '515110',
 ...]

In [15]:
rais2019cbo2002['CBO Occupation 2002'] = rais2019cbo2002['CBO Occupation 2002'].astype(str)

In [16]:
rais2019cbo2002['CBO Occupation 2002'].str[:-5]

0         3
1         3
2         3
3         3
4         3
         ..
225968    7
225969    4
225970    1
225971    5
225972    5
Name: CBO Occupation 2002, Length: 225973, dtype: object

In [17]:
rais2019cbo2002['CBO Occupation 2002'].str[:-5].unique()

array(['3', '5', '7', '4', '1', '2', '6', '', '8', '9', '0'], dtype=object)

In [18]:
rais2019cbo2002['CBO Occupation 2002'].isna().sum()

0

In [19]:
rais2019cbo2002['CBO Broad Group 2002'] = rais2019cbo2002['CBO Occupation 2002'].str[:-5]

In [20]:
rais2019cbo2002.head(3)

  CBO Occupation 2002 CBO Broad Group 2002
0              322205                    3
1              351425                    3
2              351425                    3

The data dictionary below comes from [here](http://www.mtecbo.gov.br/cbosite/pages/downloads.jsf#)

In [21]:
'''
CODIGO	TITULO
0	MEMBROS DAS FORÇAS ARMADAS, POLICIAIS E BOMBEIROS MILITARES   
    MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN
    
1	MEMBROS SUPERIORES DO PODER PÚBLICO, DIRIGENTES DE ORGANIZAÇÕES DE INTERESSE PÚBLICO E DE EMPRESAS, GERENTES     
    SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS

2	PROFISSIONAIS DAS CIÊNCIAS E DAS ARTES     
    SCIENCE AND ARTS PROFESSIONALS

3	TÉCNICOS DE NIVEL MÉDIO               
    MEDIUM LEVEL TECHNICIANS

4	TRABALHADORES DE SERVIÇOS ADMINISTRATIVOS  
    ADMINISTRATIVE SERVICE WORKERS

5	TRABALHADORES DOS SERVIÇOS, VENDEDORES DO COMÉRCIO EM LOJAS E MERCADOS  
    SERVICE WORKERS, SELLERS IN STORES AND MARKETS

6	TRABALHADORES AGROPECUÁRIOS, FLORESTAIS E DA PESCA  
    AGRICULTURAL, FORESTRY AND FISHERY WORKERS

7	TRABALHADORES DA PRODUÇÃO DE BENS E SERVIÇOS INDUSTRIAIS  
    WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES

8	TRABALHADORES DA PRODUÇÃO DE BENS E SERVIÇOS INDUSTRIAIS  
     WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES

9	TRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUTENÇÃO    
    WORKERS IN REPAIR AND MAINTENANCE SERVICES
'''

'\nCODIGO\tTITULO\n0\tMEMBROS DAS FORÇAS ARMADAS, POLICIAIS E BOMBEIROS MILITARES   \n    MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN\n    \n1\tMEMBROS SUPERIORES DO PODER PÚBLICO, DIRIGENTES DE ORGANIZAÇÕES DE INTERESSE PÚBLICO E DE EMPRESAS, GERENTES     \n    SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS\n\n2\tPROFISSIONAIS DAS CIÊNCIAS E DAS ARTES     \n    SCIENCE AND ARTS PROFESSIONALS\n\n3\tTÉCNICOS DE NIVEL MÉDIO               \n    MEDIUM LEVEL TECHNICIANS\n\n4\tTRABALHADORES DE SERVIÇOS ADMINISTRATIVOS  \n    ADMINISTRATIVE SERVICE WORKERS\n\n5\tTRABALHADORES DOS SERVIÇOS, VENDEDORES DO COMÉRCIO EM LOJAS E MERCADOS  \n    SERVICE WORKERS, SELLERS IN STORES AND MARKETS\n\n6\tTRABALHADORES AGROPECUÁRIOS, FLORESTAIS E DA PESCA  \n    AGRICULTURAL, FORESTRY AND FISHERY WORKERS\n\n7\tTRABALHADORES DA PRODUÇÃO DE BENS E SERVIÇOS INDUSTRIAIS  \n    WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES\n\n8\tTRABALHADORES DA PRODUÇÃO DE BENS E SERVIÇOS INDUSTRIAIS  \n     WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES\n\n9\tTRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUTENÇÃO    \n    WORKERS IN REPAIR AND MAINTENANCE SERVICES\n'

In [22]:
#7 and 8 have the same meaning in the original data dictionary from the website mentioned on the link

In [23]:
rais2019cbo2002['CBO Broad Group 2002'].dtype

dtype('O')

In [24]:
rais2019cbo2002['CBO Broad Group Name 2002'] = rais2019cbo2002['CBO Broad Group 2002'].astype(str).replace('0','MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN').replace('1','SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS').replace('2','SCIENCE AND ARTS PROFESSIONALS').replace('3','MEDIUM LEVEL TECHNICIANS').replace('4','ADMINISTRATIVE SERVICE WORKERS').replace('5','SERVICE WORKERS, SELLERS IN STORES AND MARKETS').replace('6','AGRICULTURAL, FORESTRY AND FISHERY WORKERS').replace('7','WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES').replace('8','WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES').replace('9','WORKERS IN REPAIR AND MAINTENANCE SERVICES')

In [25]:
rais2019cbo2002['CBO Broad Group Name 2002'].unique()

array(['MEDIUM LEVEL TECHNICIANS',
       'SERVICE WORKERS, SELLERS IN STORES AND MARKETS',
       'WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES',
       'ADMINISTRATIVE SERVICE WORKERS',
       'SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS',
       'SCIENCE AND ARTS PROFESSIONALS',
       'AGRICULTURAL, FORESTRY AND FISHERY WORKERS', '',
       'WORKERS IN REPAIR AND MAINTENANCE SERVICES',
       'MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN'],
      dtype=object)

In [27]:
rais2019cbo2002['CBO Broad Group Name 2002'].dropna().unique()

array(['MEDIUM LEVEL TECHNICIANS',
       'SERVICE WORKERS, SELLERS IN STORES AND MARKETS',
       'WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES',
       'ADMINISTRATIVE SERVICE WORKERS',
       'SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS',
       'SCIENCE AND ARTS PROFESSIONALS',
       'AGRICULTURAL, FORESTRY AND FISHERY WORKERS', '',
       'WORKERS IN REPAIR AND MAINTENANCE SERVICES',
       'MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN'],
      dtype=object)

In [28]:
rais2019cbo2002['CBO Broad Group Name 2002'].replace('','NaN').unique()

array(['MEDIUM LEVEL TECHNICIANS',
       'SERVICE WORKERS, SELLERS IN STORES AND MARKETS',
       'WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES',
       'ADMINISTRATIVE SERVICE WORKERS',
       'SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS',
       'SCIENCE AND ARTS PROFESSIONALS',
       'AGRICULTURAL, FORESTRY AND FISHERY WORKERS', 'NaN',
       'WORKERS IN REPAIR AND MAINTENANCE SERVICES',
       'MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN'],
      dtype=object)

In [29]:
rais2019cbo2002['CBO Broad Group Name 2002'] = rais2019cbo2002['CBO Broad Group Name 2002'].replace('','NaN')

In [30]:
rais2019cbo2002['CBO Broad Group Name 2002'].unique()

array(['MEDIUM LEVEL TECHNICIANS',
       'SERVICE WORKERS, SELLERS IN STORES AND MARKETS',
       'WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES',
       'ADMINISTRATIVE SERVICE WORKERS',
       'SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS',
       'SCIENCE AND ARTS PROFESSIONALS',
       'AGRICULTURAL, FORESTRY AND FISHERY WORKERS', 'NaN',
       'WORKERS IN REPAIR AND MAINTENANCE SERVICES',
       'MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN'],
      dtype=object)

In [32]:
rais2019cbo2002[rais2019cbo2002['CBO Broad Group Name 2002'] != 'NaN']

,CBO Occupation 2002,CBO Broad Group 2002,CBO Broad Group Name 2002
0,322205,3,MEDIUM LEVEL TECHNICIANS
1,351425,3,MEDIUM LEVEL TECHNICIANS
2,351425,3,MEDIUM LEVEL TECHNICIANS
3,375120,3,MEDIUM LEVEL TECHNICIANS
4,375120,3,MEDIUM LEVEL TECHNICIANS
...,...,...,...
225968,782510,7,WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS ...
225969,413225,4,ADMINISTRATIVE SERVICE WORKERS
225970,142305,1,"SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRE..."
225971,517420,5,"SERVICE WORKERS, SELLERS IN STORES AND MARKETS"
225972,517215,5,"SERVICE WORKERS, SELLERS IN STORES AND MARKETS"

In [33]:
rais2019cbo2002 = rais2019cbo2002[rais2019cbo2002['CBO Broad Group Name 2002'] != 'NaN']

In [35]:
rais2019cbo2002['CBO Broad Group Name 2002'].unique()

array(['MEDIUM LEVEL TECHNICIANS',
       'SERVICE WORKERS, SELLERS IN STORES AND MARKETS',
       'WORKERS IN THE PRODUCTION OF INDUSTRIAL GOODS AND SERVICES',
       'ADMINISTRATIVE SERVICE WORKERS',
       'SENIOR MEMBERS OF THE PUBLIC AUTHORITIES, DIRECTORS OF PUBLIC INTEREST ORGANIZATIONS AND COMPANIES, MANAGERS',
       'SCIENCE AND ARTS PROFESSIONALS',
       'AGRICULTURAL, FORESTRY AND FISHERY WORKERS',
       'WORKERS IN REPAIR AND MAINTENANCE SERVICES',
       'MEMBERS OF THE ARMED FORCES, POLICE AND MILITARY FIREMEN'],
      dtype=object)

In [36]:
rais2019cbo2002['CBO Occupation 2002'].str[:-4].unique()

array(['32', '35', '37', '51', '71', '41', '11', '21', '22', '33', '42',
       '23', '52', '25', '78', '62', '26', '13', '34', '12', '14', '24',
       '84', '72', '77', '30', '76', '91', '31', '39', '99', '81', '01',
       '95', '73', '20', '86', '82', '64', '02', '83', '27', '61', '63',
       '75', '74', '03', '00', '79'], dtype=object)

In [37]:
rais2019cbo2002['CBO Main SubGroup 2002'] = rais2019cbo2002['CBO Occupation 2002'].str[:-4]

In [38]:
rais2019cbo2002.head(3)

,CBO Occupation 2002,CBO Broad Group 2002,CBO Broad Group Name 2002,CBO Main SubGroup 2002
0,322205,3,MEDIUM LEVEL TECHNICIANS,32
1,351425,3,MEDIUM LEVEL TECHNICIANS,35
2,351425,3,MEDIUM LEVEL TECHNICIANS,35

The data dictionary below comes from [here](http://www.mtecbo.gov.br/cbosite/pages/downloads.jsf#)

In [39]:
'''
CODIGO	TITULO
CODE -> TITLE

1	MEMBROS DAS FORÇAS ARMADAS         
    MEMBERS OF THE ARMED FORCES

2	POLICIAIS MILITARES          
    MILITARY POLICE

3	BOMBEIROS MILITARES   
    MILITARY FIREMEN

11	MEMBROS SUPERIORES E DIRIGENTES DO PODER PÚBLICO 
    SUPERIOR MEMBERS AND OFFICERS OF THE PUBLIC AUTHORITY


12	DIRIGENTES DE EMPRESAS E ORGANIZAÇÕES (EXCETO DE INTERESSE PÚBLICO)  
    DIRECTORS OF COMPANIES AND ORGANIZATIONS (EXCEPT PUBLIC INTEREST)


13	DIRETORES E GERENTES EM EMPRESA DE SERVIÇOS DE SAÚDE, DA EDUCAÇÃO, OU DE SERVIÇOS CULTURAIS, SOCIAIS OU PESSOAIS  
    DIRECTORS AND MANAGERS IN A HEALTH, EDUCATION, OR CULTURAL, SOCIAL OR PERSONAL SERVICES COMPANY

14	GERENTES    
    MANAGERS

20	PESQUISADORES E PROFISSIONAIS POLICIENTÍFICOS
    POLYSCIENTIFIC RESEARCHERS AND PROFESSIONALS

21	PROFISSIONAIS DAS CIÊNCIAS EXATAS, FÍSICAS E DA ENGENHARIA    
    PROFESSIONALS IN EXACT, PHYSICAL AND ENGINEERING SCIENCES

22	PROFISSIONAIS DAS CIÊNCIAS BIOLÓGICAS, DA SAÚDE E AFINS   
    PROFESSIONALS IN BIOLOGICAL, HEALTH AND RELATED SCIENCES

23	PROFISSIONAIS DO ENSINO      
    TEACHING PROFESSIONALS

24	PROFISSIONAIS DAS CIÊNCIAS JURÍDICAS      
    PROFESSIONALS OF LEGAL SCIENCES

25	PROFISSIONAIS DAS CIÊNCIAS SOCIAIS E HUMANAS  
    PROFESSIONALS OF SOCIAL AND HUMAN SCIENCES

26	COMUNICADORES, ARTISTAS E RELIGIOSOS  
    COMMUNICATORS, ARTISTS AND RELIGIOUS

27	PROFISSIONAIS EM GASTRONOMIA
    PROFESSIONALS IN GASTRONOMY

30	TÉCNICOS POLIVALENTES    
    POLYVALENT TECHNICIAN 

31	TÉCNICOS DE NÍVEL MÉDIO DAS CIÊNCIAS FÍSICAS, QUÍMICAS, ENGENHARIA E AFINS  
    MIDDLE LEVEL TECHNICIANS IN PHYSICAL, CHEMICAL, ENGINEERING AND RELATED SCIENCES

32	TÉCNICOS DE NÍVEL MÉDIO DAS CIÊNCIAS BIOLÓGICAS, BIOQUÍMICAS, DA SAÚDE E AFINS 
    MIDDLE LEVEL TECHNICIANS IN BIOLOGICAL, BIOCHEMICAL, HEALTH AND RELATED SCIENCES

33	PROFESSORES LEIGOS E DE NÍVEL MÉDIO    
    LAY TEACHERS AND MIDDLE LEVEL

34	TÉCNICOS DE NÍVEL MÉDIO EM SERVIÇOS DE TRANSPORTES   
    MEDIUM-LEVEL TECHNICIANS IN TRANSPORTATION SERVICES

35	TÉCNICOS DE NIVEL MÉDIO NAS CIÊNCIAS ADMINISTRATIVAS  
    MEDIUM-LEVEL TECHNICIANS IN ADMINISTRATIVE SCIENCES

37	TÉCNICOS EM NIVEL MÉDIO DOS SERVIÇOS CULTURAIS, DAS COMUNICAÇÕES E DOS DESPORTOS  
    MEDIUM LEVEL TECHNICIANS IN CULTURAL SERVICES, COMMUNICATIONS AND SPORTS

39	OUTROS TÉCNICOS DE NÍVEL MÉDIO
    OTHER MIDDLE LEVEL TECHNICIANS

41	ESCRITURÁRIOS    
    CLERK

42	TRABALHADORES DE ATENDIMENTO AO PÚBLICO   
    PUBLIC SERVICE WORKERS

51	TRABALHADORES DOS SERVIÇOS  
    SERVICE WORKERS

52	VENDEDORES E PRESTADORES DE SERVIÇOS DO COMÉRCIO  
    SELLERS AND SERVICE PROVIDERS

61	PRODUTORES NA EXPLORAÇÃO AGROPECUÁRIA 
    PRODUCERS IN CATTLE RANCHING EXPLORATION

62	TRABALHADORES NA EXPLORAÇÃO AGROPECUÁRIA   
    WORKERS IN CATTLE RANCHING EXPLORATION

63	PESCADORES E EXTRATIVISTAS FLORESTAIS    
    FISHERMEN AND FORESTRY EXTRACTORS

64	TRABALHADORES DA MECANIZAÇÃO AGROPECUÁRIA E FLORESTAL 
    CATTLE RANCHING AND FORESTRY MECHANIZATION WORKERS

71	TRABALHADORES DA INDÚSTRIA EXTRATIVA E DA CONSTRUÇÃO CIVIL 
    WORKERS IN THE EXTRACTIVE INDUSTRY AND CIVIL CONSTRUCTION

72	TRABALHADORES DA TRANSFORMAÇÃO DE METAIS E DE COMPÓSITOS  
    METAL AND COMPOSITE TRANSFORMATION WORKERS

73	TRABALHADORES DA FABRICAÇÃO E INSTALAÇÃO ELETROELETRÔNICA  
    WORKERS IN ELECTRO-ELECTRONIC MANUFACTURING AND INSTALLATION

74	MONTADORES DE APARELHOS E INSTRUMENTOS DE PRECISÃO E MUSICAIS   
    ASSEMBLERS OF PRECISION AND MUSICAL APPARATUS AND INSTRUMENTS

75	JOALHEIROS, VIDREIROS, CERAMISTAS E AFINS    
    JEWELERS, GLASSMEN, CERAMISTS AND RELATED

76	TRABALHADORES NAS INDÚSTRIAS TÊXTIL, DO CURTIMENTO, DO VESTÚARIO E DAS ARTES GRÁFICAS   
    WORKERS IN THE TEXTILE, TANNING, CLOTHING AND GRAPHIC ARTS INDUSTRIES

77	TRABALHADORES DAS INDÚSTRIAS DE MADEIRA E DO MOBILIÁRIO 
    WORKERS IN THE WOOD AND FURNITURE INDUSTRIES

78	TRABALHADORES DE FUNÇÕES TRANSVERSAIS 
    CROSS FUNCTIONAL WORKERS

79	TRABALHADORES DO ARTESANATO
    HANDICRAFT WORKERS

81	TRABALHADORES EM INDÚSTRIAS DE PROCESSOS CONTÍNUOS E OUTRAS INDÚSTRIAS      
    WORKERS IN CONTINUOUS PROCESSES AND OTHER INDUSTRIES

82	TRABALHADORES DE INSTALAÇÕES SIDERÚRGICAS E DE MATERIAIS DE CONSTRUÇÃO 
    WORKERS IN STEEL FACILITIES AND CONSTRUCTION MATERIALS

83	TRABALHADORES DE INSTALAÇÕES E MÁQUINAS DE FABRICAÇÃO DE CELULOSE E PAPEL  
    WORKERS IN PULP AND PAPER MANUFACTURING FACILITIES AND MACHINES

84	TRABALHADORES DA FABRICAÇÃO DE ALIMENTOS, BEBIDAS E FUMO     
    FOOD, BEVERAGE AND SMOKE MANUFACTURING WORKERS

86	OPERADORES DE PRODUÇÃO, CAPTAÇÃO, TRATAMENTO E DISTRIBUIÇÃO (ENERGIA, ÁGUA E UTILIDADES)
    OPERATORS OF PRODUCTION, CAPTURE, TREATMENT AND DISTRIBUTION (ENERGY, WATER AND UTILITIES)

87	OPERADORES DE OUTRAS INSTALAÇÕES INDUSTRIAIS       
    OPERATORS OF OTHER INDUSTRIAL FACILITIES

91	TRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUTENÇÃO MECÂNICA   
    WORKERS IN MECHANICAL REPAIR AND MAINTENANCE SERVICES

95	POLIMANTENEDORES                                    
    MAINTAINER

99	OUTROS TRABALHADORES DA CONSERVAÇÃO, MANUTENÇÃO E REPARAÇÃO      
    OTHER CONSERVATION, MAINTENANCE AND REPAIR WORKERS

'''

'\nCODIGO\tTITULO\nCODE -> TITLE\n\n1\tMEMBROS DAS FORÇAS ARMADAS         \n    MEMBERS OF THE ARMED FORCES\n\n2\tPOLICIAIS MILITARES          \n    MILITARY POLICE\n\n3\tBOMBEIROS MILITARES   \n    MILITARY FIREMEN\n\n11\tMEMBROS SUPERIORES E DIRIGENTES DO PODER PÚBLICO \n    SUPERIOR MEMBERS AND OFFICERS OF THE PUBLIC AUTHORITY\n\n\n12\tDIRIGENTES DE EMPRESAS E ORGANIZAÇÕES (EXCETO DE INTERESSE PÚBLICO)  \n    DIRECTORS OF COMPANIES AND ORGANIZATIONS (EXCEPT PUBLIC INTEREST)\n\n\n13\tDIRETORES E GERENTES EM EMPRESA DE SERVIÇOS DE SAÚDE, DA EDUCAÇÃO, OU DE SERVIÇOS CULTURAIS, SOCIAIS OU PESSOAIS  \n    DIRECTORS AND MANAGERS IN A HEALTH, EDUCATION, OR CULTURAL, SOCIAL OR PERSONAL SERVICES COMPANY\n\n14\tGERENTES    \n    MANAGERS\n\n20\tPESQUISADORES E PROFISSIONAIS POLICIENTÍFICOS\n    POLYSCIENTIFIC RESEARCHERS AND PROFESSIONALS\n\n21\tPROFISSIONAIS DAS CIÊNCIAS EXATAS, FÍSICAS E DA ENGENHARIA    \n    PROFESSIONALS IN EXACT, PHYSICAL AND ENGINEERING SCIENCES\n\n22\tPROFISSIONAIS DAS CIÊNCIAS BIOLÓGICAS, DA SAÚDE E AFINS   \n    PROFESSIONALS IN BIOLOGICAL, HEALTH AND RELATED SCIENCES\n\n23\tPROFISSIONAIS DO ENSINO      \n    TEACHING PROFESSIONALS\n\n24\tPROFISSIONAIS DAS CIÊNCIAS JURÍDICAS      \n    PROFESSIONALS OF LEGAL SCIENCES\n\n25\tPROFISSIONAIS DAS CIÊNCIAS SOCIAIS E HUMANAS  \n    PROFESSIONALS OF SOCIAL AND HUMAN SCIENCES\n\n26\tCOMUNICADORES, ARTISTAS E RELIGIOSOS  \n    COMMUNICATORS, ARTISTS AND RELIGIOUS\n\n27\tPROFISSIONAIS EM GASTRONOMIA\n    PROFESSIONALS IN GASTRONOMY\n\n30\tTÉCNICOS POLIVALENTES    \n    POLYVALENT TECHNICIAN \n\n31\tTÉCNICOS DE NÍVEL MÉDIO DAS CIÊNCIAS FÍSICAS, QUÍMICAS, ENGENHARIA E AFINS  \n    MIDDLE LEVEL TECHNICIANS IN PHYSICAL, CHEMICAL, ENGINEERING AND RELATED SCIENCES\n\n32\tTÉCNICOS DE NÍVEL MÉDIO DAS CIÊNCIAS BIOLÓGICAS, BIOQUÍMICAS, DA SAÚDE E AFINS \n    MIDDLE LEVEL TECHNICIANS IN BIOLOGICAL, BIOCHEMICAL, HEALTH AND RELATED SCIENCES\n\n33\tPROFESSORES LEIGOS E DE NÍVEL MÉDIO    \n    LAY TEACHERS AND MIDDLE LEVEL\n\n34\tTÉCNICOS DE NÍVEL MÉDIO EM SERVIÇOS DE TRANSPORTES   \n    MEDIUM-LEVEL TECHNICIANS IN TRANSPORTATION SERVICES\n\n35\tTÉCNICOS DE NIVEL MÉDIO NAS CIÊNCIAS ADMINISTRATIVAS  \n    MEDIUM-LEVEL TECHNICIANS IN ADMINISTRATIVE SCIENCES\n\n37\tTÉCNICOS EM NIVEL MÉDIO DOS SERVIÇOS CULTURAIS, DAS COMUNICAÇÕES E DOS DESPORTOS  \n    MEDIUM LEVEL TECHNICIANS IN CULTURAL SERVICES, COMMUNICATIONS AND SPORTS\n\n39\tOUTROS TÉCNICOS DE NÍVEL MÉDIO\n    OTHER MIDDLE LEVEL TECHNICIANS\n\n41\tESCRITURÁRIOS    \n    CLERK\n\n42\tTRABALHADORES DE ATENDIMENTO AO PÚBLICO   \n    PUBLIC SERVICE WORKERS\n\n51\tTRABALHADORES DOS SERVIÇOS  \n    SERVICE WORKERS\n\n52\tVENDEDORES E PRESTADORES DE SERVIÇOS DO COMÉRCIO  \n    SELLERS AND SERVICE PROVIDERS\n\n61\tPRODUTORES NA EXPLORAÇÃO AGROPECUÁRIA \n    PRODUCERS IN CATTLE RANCHING EXPLORATION\n\n62\tTRABALHADORES NA EXPLORAÇÃO AGROPECUÁRIA   \n    WORKERS IN CATTLE RANCHING EXPLORATION\n\n63\tPESCADORES E EXTRATIVISTAS FLORESTAIS    \n    FISHERMEN AND FORESTRY EXTRACTORS\n\n64\tTRABALHADORES DA MECANIZAÇÃO AGROPECUÁRIA E FLORESTAL \n    CATTLE RANCHING AND FORESTRY MECHANIZATION WORKERS\n\n71\tTRABALHADORES DA INDÚSTRIA EXTRATIVA E DA CONSTRUÇÃO CIVIL \n    WORKERS IN THE EXTRACTIVE INDUSTRY AND CIVIL CONSTRUCTION\n\n72\tTRABALHADORES DA TRANSFORMAÇÃO DE METAIS E DE COMPÓSITOS  \n    METAL AND COMPOSITE TRANSFORMATION WORKERS\n\n73\tTRABALHADORES DA FABRICAÇÃO E INSTALAÇÃO ELETROELETRÔNICA  \n    WORKERS IN ELECTRO-ELECTRONIC MANUFACTURING AND INSTALLATION\n\n74\tMONTADORES DE APARELHOS E INSTRUMENTOS DE PRECISÃO E MUSICAIS   \n    ASSEMBLERS OF PRECISION AND MUSICAL APPARATUS AND INSTRUMENTS\n\n75\tJOALHEIROS, VIDREIROS, CERAMISTAS E AFINS    \n    JEWELERS, GLASSMEN, CERAMISTS AND RELATED\n\n76\tTRABALHADORES NAS INDÚSTRIAS TÊXTIL, DO CURTIMENTO, DO VESTÚARIO E DAS ARTES GRÁFICAS   \n    WORKERS IN THE TEXTILE, TANNING, CLOTHING AND GRAPHIC ARTS INDUSTRIES\n\n77\tTRABALHADORES DAS INDÚSTRIAS DE MADEIRA E DO MOBILIÁRIO \n    WORKERS IN THE WOOD AND FURNITURE INDUSTRIES\n\n78\tTRABALHADORES DE FUNÇÕES TRANSVERSAIS \n    CROSS FUNCTIONAL WORKERS\n\n79\tTRABALHADORES DO ARTESANATO\n    HANDICRAFT WORKERS\n\n81\tTRABALHADORES EM INDÚSTRIAS DE PROCESSOS CONTÍNUOS E OUTRAS INDÚSTRIAS      \n    WORKERS IN CONTINUOUS PROCESSES AND OTHER INDUSTRIES\n\n82\tTRABALHADORES DE INSTALAÇÕES SIDERÚRGICAS E DE MATERIAIS DE CONSTRUÇÃO \n    WORKERS IN STEEL FACILITIES AND CONSTRUCTION MATERIALS\n\n83\tTRABALHADORES DE INSTALAÇÕES E MÁQUINAS DE FABRICAÇÃO DE CELULOSE E PAPEL  \n    WORKERS IN PULP AND PAPER MANUFACTURING FACILITIES AND MACHINES\n\n84\tTRABALHADORES DA FABRICAÇÃO DE ALIMENTOS, BEBIDAS E FUMO     \n    FOOD, BEVERAGE AND SMOKE MANUFACTURING WORKERS\n\n86\tOPERADORES DE PRODUÇÃO, CAPTAÇÃO, TRATAMENTO E DISTRIBUIÇÃO (ENERGIA, ÁGUA E UTILIDADES)\n    OPERATORS OF PRODUCTION, CAPTURE, TREATMENT AND DISTRIBUTION (ENERGY, WATER AND UTILITIES)\n\n87\tOPERADORES DE OUTRAS INSTALAÇÕES INDUSTRIAIS       \n    OPERATORS OF OTHER INDUSTRIAL FACILITIES\n\n91\tTRABALHADORES EM SERVIÇOS DE REPARAÇÃO E MANUTENÇÃO MECÂNICA   \n    WORKERS IN MECHANICAL REPAIR AND MAINTENANCE SERVICES\n\n95\tPOLIMANTENEDORES                                    \n    MAINTAINER\n\n99\tOUTROS TRABALHADORES DA CONSERVAÇÃO, MANUTENÇÃO E REPARAÇÃO      \n    OTHER CONSERVATION, MAINTENANCE AND REPAIR WORKERS\n\n'

In [40]:
rais2019cbo2002['CBO Main SubGroup 2002'].unique()

array(['32', '35', '37', '51', '71', '41', '11', '21', '22', '33', '42',
       '23', '52', '25', '78', '62', '26', '13', '34', '12', '14', '24',
       '84', '72', '77', '30', '76', '91', '31', '39', '99', '81', '01',
       '95', '73', '20', '86', '82', '64', '02', '83', '27', '61', '63',
       '75', '74', '03', '00', '79'], dtype=object)

In [41]:
rais2019cbo2002[rais2019cbo2002['CBO Main SubGroup 2002']=='00']

,CBO Occupation 2002,CBO Broad Group 2002,CBO Broad Group Name 2002,CBO Main SubGroup 2002
63178,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
63180,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
146366,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
146369,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
146372,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
146375,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
146378,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
179214,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
187744,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
187747,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
214209,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
220325,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00
223314,0000-1,0,"MEMBERS OF THE ARMED FORCES, POLICE AND MILITA...",00

In [42]:
#'00' should not be in the Main SubGroup.'0' is from the Broad Group Name that turns into 1,2 or 3 in the Main SubGroup, and not '00'
#so it needs to be dropped

In [43]:
rais2019cbo2002 = rais2019cbo2002[rais2019cbo2002['CBO Main SubGroup 2002'] != '00']

In [44]:
rais2019cbo2002['CBO Main SubGroup 2002'].unique()

array(['32', '35', '37', '51', '71', '41', '11', '21', '22', '33', '42',
       '23', '52', '25', '78', '62', '26', '13', '34', '12', '14', '24',
       '84', '72', '77', '30', '76', '91', '31', '39', '99', '81', '01',
       '95', '73', '20', '86', '82', '64', '02', '83', '27', '61', '63',
       '75', '74', '03', '79'], dtype=object)

In [45]:
rais2019cbo2002.head(3)

,CBO Occupation 2002,CBO Broad Group 2002,CBO Broad Group Name 2002,CBO Main SubGroup 2002
0,322205,3,MEDIUM LEVEL TECHNICIANS,32
1,351425,3,MEDIUM LEVEL TECHNICIANS,35
2,351425,3,MEDIUM LEVEL TECHNICIANS,35

In [49]:
replacers = {'01':'MEMBERS OF THE ARMED FORCES','02':'MILITARY POLICE',
             '03':'MILITARY FIREMEN','11':'SUPERIOR MEMBERS AND OFFICERS OF THE PUBLIC AUTHORITY',
             '12':'DIRECTORS OF COMPANIES AND ORGANIZATIONS (EXCEPT PUBLIC INTEREST)', 
             '13':'DIRECTORS AND MANAGERS IN A HEALTH, EDUCATION, OR CULTURAL, SOCIAL OR PERSONAL SERVICES COMPANY',
             '14':'MANAGERS','20':'POLYSCIENTIFIC RESEARCHERS AND PROFESSIONALS',
             '21':'PROFESSIONALS IN EXACT, PHYSICAL AND ENGINEERING SCIENCES', 
             '22':'PROFESSIONALS IN BIOLOGICAL, HEALTH AND RELATED SCIENCES',
             '23':'TEACHING PROFESSIONALS', 
             '24':'PROFESSIONALS OF LEGAL SCIENCES','25':'PROFESSIONALS OF SOCIAL AND HUMAN SCIENCES',
             '26':'COMMUNICATORS, ARTISTS AND RELIGIOUS','27':'PROFESSIONALS IN GASTRONOMY',
             '30':'EDUCATION','POLYVALENT TECHNICIAN':'HUMAN HEALTH AND SOCIAL SERVICES',
             '31':'MIDDLE LEVEL TECHNICIANS IN PHYSICAL, CHEMICAL, ENGINEERING AND RELATED SCIENCES',
             '32':'MIDDLE LEVEL TECHNICIANS IN BIOLOGICAL, BIOCHEMICAL, HEALTH AND RELATED SCIENCES',
             '33':'LAY TEACHERS AND MIDDLE LEVEL',
             '34':'MEDIUM-LEVEL TECHNICIANS IN TRANSPORTATION SERVICES',
            '35':'MEDIUM-LEVEL TECHNICIANS IN ADMINISTRATIVE SCIENCES',
            '37':'MEDIUM LEVEL TECHNICIANS IN CULTURAL SERVICES, COMMUNICATIONS AND SPORTS',
            '39': 'OTHER MIDDLE LEVEL TECHNICIANS',
            '41':'CLERK','42':'PUBLIC SERVICE WORKERS','51':'SERVICE WORKERS',
            '52':'SELLERS AND SERVICE PROVIDERS', '61':'PRODUCERS IN CATTLE RANCHING EXPLORATION',
            '62':'WORKERS IN CATTLE RANCHING EXPLORATION','63':'FISHERMEN AND FORESTRY EXTRACTORS',
            '64':'CATTLE RANCHING AND FORESTRY MECHANIZATION WORKERS','71':'WORKERS IN THE EXTRACTIVE INDUSTRY AND CIVIL CONSTRUCTION',
            '72':'METAL AND COMPOSITE TRANSFORMATION WORKERS','73':'WORKERS IN ELECTRO-ELECTRONIC MANUFACTURING AND INSTALLATION',
            '74':'ASSEMBLERS OF PRECISION AND MUSICAL APPARATUS AND INSTRUMENTS','75':'JEWELERS, GLASSMEN, CERAMISTS AND RELATED',
            '76':'WORKERS IN THE TEXTILE, TANNING, CLOTHING AND GRAPHIC ARTS INDUSTRIES','77':'WORKERS IN THE WOOD AND FURNITURE INDUSTRIES',
            '78':'CROSS FUNCTIONAL WORKERS','79':'HANDICRAFT WORKERS','81':'WORKERS IN CONTINUOUS PROCESSES AND OTHER INDUSTRIES',
            '82':'WORKERS IN STEEL FACILITIES AND CONSTRUCTION MATERIALS','83':'WORKERS IN PULP AND PAPER MANUFACTURING FACILITIES AND MACHINES',
            '84':'FOOD, BEVERAGE AND SMOKE MANUFACTURING WORKERS','86':'OPERATORS OF PRODUCTION, CAPTURE, TREATMENT AND DISTRIBUTION (ENERGY, WATER AND UTILITIES)',
            '87':'OPERATORS OF OTHER INDUSTRIAL FACILITIES','91':'WORKERS IN MECHANICAL REPAIR AND MAINTENANCE SERVICES',
            '95':'MAINTAINER','99':'OTHER CONSERVATION, MAINTENANCE AND REPAIR WORKERS'} 
rais2019cbo2002['CBO Main SubGroup Name 2002'] = rais2019cbo2002['CBO Main SubGroup 2002'].replace(replacers)

<ipython-input-49-839144da82ee>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rais2019cbo2002['CBO Main SubGroup Name 2002'] = rais2019cbo2002['CBO Main SubGroup 2002'].replace(replacers)

In [50]:
rais2019cbo2002['CBO Main SubGroup Name 2002'].unique()

array(['MIDDLE LEVEL TECHNICIANS IN BIOLOGICAL, BIOCHEMICAL, HEALTH AND RELATED SCIENCES',
       'MEDIUM-LEVEL TECHNICIANS IN ADMINISTRATIVE SCIENCES',
       'MEDIUM LEVEL TECHNICIANS IN CULTURAL SERVICES, COMMUNICATIONS AND SPORTS',
       'SERVICE WORKERS',
       'WORKERS IN THE EXTRACTIVE INDUSTRY AND CIVIL CONSTRUCTION',
       'CLERK', 'SUPERIOR MEMBERS AND OFFICERS OF THE PUBLIC AUTHORITY',
       'PROFESSIONALS IN EXACT, PHYSICAL AND ENGINEERING SCIENCES',
       'PROFESSIONALS IN BIOLOGICAL, HEALTH AND RELATED SCIENCES',
       'LAY TEACHERS AND MIDDLE LEVEL', 'PUBLIC SERVICE WORKERS',
       'TEACHING PROFESSIONALS', 'SELLERS AND SERVICE PROVIDERS',
       'PROFESSIONALS OF SOCIAL AND HUMAN SCIENCES',
       'CROSS FUNCTIONAL WORKERS',
       'WORKERS IN CATTLE RANCHING EXPLORATION',
       'COMMUNICATORS, ARTISTS AND RELIGIOUS',
       'DIRECTORS AND MANAGERS IN A HEALTH, EDUCATION, OR CULTURAL, SOCIAL OR PERSONAL SERVICES COMPANY',
       'MEDIUM-LEVEL TECHNICIANS IN TRANSPORTATION SERVICES',
       'DIRECTORS OF COMPANIES AND ORGANIZATIONS (EXCEPT PUBLIC INTEREST)',
       'MANAGERS', 'PROFESSIONALS OF LEGAL SCIENCES',
       'FOOD, BEVERAGE AND SMOKE MANUFACTURING WORKERS',
       'METAL AND COMPOSITE TRANSFORMATION WORKERS',
       'WORKERS IN THE WOOD AND FURNITURE INDUSTRIES', 'EDUCATION',
       'WORKERS IN THE TEXTILE, TANNING, CLOTHING AND GRAPHIC ARTS INDUSTRIES',
       'WORKERS IN MECHANICAL REPAIR AND MAINTENANCE SERVICES',
       'MIDDLE LEVEL TECHNICIANS IN PHYSICAL, CHEMICAL, ENGINEERING AND RELATED SCIENCES',
       'OTHER MIDDLE LEVEL TECHNICIANS',
       'OTHER CONSERVATION, MAINTENANCE AND REPAIR WORKERS',
       'WORKERS IN CONTINUOUS PROCESSES AND OTHER INDUSTRIES',
       'MEMBERS OF THE ARMED FORCES', 'MAINTAINER',
       'WORKERS IN ELECTRO-ELECTRONIC MANUFACTURING AND INSTALLATION',
       'POLYSCIENTIFIC RESEARCHERS AND PROFESSIONALS',
       'OPERATORS OF PRODUCTION, CAPTURE, TREATMENT AND DISTRIBUTION (ENERGY, WATER AND UTILITIES)',
       'WORKERS IN STEEL FACILITIES AND CONSTRUCTION MATERIALS',
       'CATTLE RANCHING AND FORESTRY MECHANIZATION WORKERS',
       'MILITARY POLICE',
       'WORKERS IN PULP AND PAPER MANUFACTURING FACILITIES AND MACHINES',
       'PROFESSIONALS IN GASTRONOMY',
       'PRODUCERS IN CATTLE RANCHING EXPLORATION',
       'FISHERMEN AND FORESTRY EXTRACTORS',
       'JEWELERS, GLASSMEN, CERAMISTS AND RELATED',
       'ASSEMBLERS OF PRECISION AND MUSICAL APPARATUS AND INSTRUMENTS',
       'MILITARY FIREMEN', 'HANDICRAFT WORKERS'], dtype=object)

In [51]:
rais2019cbo2002.head()

,CBO Occupation 2002,CBO Broad Group 2002,CBO Broad Group Name 2002,CBO Main SubGroup 2002,CBO Main SubGroup Name 2002
0,322205,3,MEDIUM LEVEL TECHNICIANS,32,"MIDDLE LEVEL TECHNICIANS IN BIOLOGICAL, BIOCHE..."
1,351425,3,MEDIUM LEVEL TECHNICIANS,35,MEDIUM-LEVEL TECHNICIANS IN ADMINISTRATIVE SCI...
2,351425,3,MEDIUM LEVEL TECHNICIANS,35,MEDIUM-LEVEL TECHNICIANS IN ADMINISTRATIVE SCI...
3,375120,3,MEDIUM LEVEL TECHNICIANS,37,"MEDIUM LEVEL TECHNICIANS IN CULTURAL SERVICES,..."
4,375120,3,MEDIUM LEVEL TECHNICIANS,37,"MEDIUM LEVEL TECHNICIANS IN CULTURAL SERVICES,..."